<div id="tree_campos"> </div>
<div id="d-grid">
</div>

<style>
  #tree_campos {
    float: left;
    /*height: 400px;*/
    vertical-align: top;
    background-color: #d3d3d3;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
  }
  #d-grid {
    float: left;
  }
</style>

<script>
  var _vista = <%= @vid %>;
</script>

<script>
  var _controlador = 'bus';

  $("#tree_campos").tree({selectable: false, dataUrl: '/gi/campos?node=<%= @mod %>', onCanSelectNode: function(node){
    return node.load_on_demand != undefined ? false : true;
  }});

  $('#tree_campos').bind('tree.dblclick', function(event) {
    var name = event.node.name;
    var p = event.node.parent;
    while (p.name != undefined) {
      name = p.name + '.' + name;
      p = p.parent;
    }
    callFonServer("nueva_col", {col: name});
  });


  function generaGrid(colMod) {
    $("#d-grid").append("<table id='grid'></table>");
    var grid = $("#grid");
    var toolgrid = '#grid_toppager';

    var vgrid = grid.jqGrid({
      height: '500',
      colModel: colMod,
      //caption: '',
      url: '/bus/list?vista=' + _vista,
      datatype: "json",
      mtype: 'POST',
      rowNum: 100,

      gridview: true,

      toppager: true,
      scroll: true,

      rowList: [100, 500, 1000],
      altRows: true,	// filas tipo cebra
      sortable: true,	// Si las columnas se pueden reordenar (cambiar de sitio)
      viewrecords: true,	// Muestra información del total de registros en la toolbar

      ondblClickRow: gridSelect,

      shrinkToFit: true,
      multiSort: false,
      //multiselect: true,
    });

    grid.jqGrid('gridResize', {handles: "s,e", minHeight: 80});
    grid.jqGrid('bindKeys');
    grid.jqGrid('filterToolbar', {stringResult: true, searchOperators: true});
    //vgrid[0].toggleToolbar();
  }

  //generaGrid([{name: 'codigo'},{name: 'cuna'}]);
  generaGrid([]);

  function gridSelect() {

  }
</script>
