<ul>
<li>La columna <i>login</i>indica el código de usuario usado en la ventana de inicio de sesión<br>(o en el parámetro <i>usuario</i>si es a través de la API)</li>
<li>La columna <i>usuario.id</i>indica el id del usuario. Si está vacío significa que se ha intentado<br>un inicio de sesión con un código de usuario (<i>login</i>) inexistente.</li>
<li>La columna <i>ip</i>indica la dirección IP desde la que se ha solicitado el inicio de sesión.<br>Si empieza por * significa que el inicio de sesión se ha solicitado a través de la API.</li>
<li>La columna <i>status</i>indica el estado del intento de acceso. Sus posibles valores son:
<dl>
<dt>C</dt><dd>Conexión correcta</dd>
<dt>D</dt><dd>Desconexión</dd>
<dt>B</dt><dd>Usuario de baja</dd>
<dt>I</dt><dd>Intento de conexión desde IP no autorizada</dd>
<dt>M</dt><dd>Intento de conexión a través de la API de un usuario WEB<br>o a través de la WEB de un usuario API</dd>
<dt>X</dt><dd>Intento de conexión a través de la API de un usuario<br>con la contraseña caducada</dd>
<dt>-</dt><dd>Autentificación incorrecta</dd>
<dt>*</dt><dd>Intento de conexión en tiempo de bloqueo</dd>
</dl>
</li>
</ul>

<style>
dl {display: grid; grid-template-columns: max-content auto;}
dt {grid-column-start: 1;}
dd {grid-column-start: 2;}
</style>