.w-card.mdl-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
}

.w-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #673AB7 image-url('logo.png') no-repeat top left;
}

.w-card > .mdl-card__menu {
  color: #fff;
}

.mdl-card__supporting-text {
  padding-right: 0;
  text-align: justify;
}

body{
  background-image: image-url('background.png') ;
  background-size: cover;
}