<div id="radios">
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="herencia">
    <input type="radio" id="herencia" class="mdl-radio__button" name="options" value="h" checked>
    <span class="mdl-radio__label c-herencia">Herencia</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="permitido">
    <input type="radio" id="permitido" class="mdl-radio__button" name="options" value="p">
    <span class="mdl-radio__label c-permitido" style="">Permitido</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sinborrado">
    <input type="radio" id="sinborrado" class="mdl-radio__button" name="options" value="b">
    <span class="mdl-radio__label c-sinborrado">Sin borrado</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="consulta">
    <input type="radio" id="consulta" class="mdl-radio__button" name="options" value="c">
    <span class="mdl-radio__label c-consulta">Consulta</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="prohibido">
    <input type="radio" id="prohibido" class="mdl-radio__button" name="options" value="x">
    <span class="mdl-radio__label c-prohibido">Prohibido</span>
  </label>
</div>

<div id="menu">
</div>
