<div id="toolbar" class="ui-widget-header ui-corner-all">
  <button id="grabar" onclick="mant_grabar()"> Grabar </button>
  <button id="borrar" onclick="mant_borrar()"> Borrar </button>
  <button id="cancelar" onclick="mant_cancelar()"> Cancelar </button>
  <button id="salir" onclick="mant_cerrar()"> Salir </button>
  <label id="encurso"></label>
</div>

<div id="dialog-borrar" title="Borrado">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    El registro será eliminado. ¿Está seguro?
  </p>
</div>

<style>
  body {
    margin-top: 0px;
  }
</style>

<script>
  $("#grabar").button({text: false, icons: {primary: "ui-icon-pencil"}});
  $("#borrar").button({text: false, icons: {primary: "ui-icon-trash"}});
  $("#cancelar").button({text: false, icons: {primary: "ui-icon-arrowreturnthick-1-s"}});
  $("#salir").button({text: false, icons: {primary: "ui-icon-extlink"}});

  $( "#dialog-borrar" ).dialog({
    autoOpen: false,
    resizable: false,
    height:150,
    modal: true,
    buttons: {
      "Sí": function() {
        $( this ).dialog( "close" );
        mant_borrar_ok();
      },
      No: function() {
        $( this ).dialog( "close" );
      }
    }
  });
</script>
