<div id="d-grid">
  <table id="grid"></table>
  <div id="toolgrid"></div>
</div>

<div id='d-ficha'>
	<iframe id="ficha" class="ficha"> </iframe>
</div>

<style>
  #grid {
    top: 0;
  }
  #d-grid {
    display: inline-block;
    vertical-align: top;
  }
  
  #d-ficha {
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 400px;
    display: inline-block;
  }
</style>

<script>
	grid = '#grid';
	toolgrid = '#toolgrid';

	var vgrid = $(grid).jqGrid({
    colModel: [{name: 'fecha', index: 'created_at', label: 'Fecha', width: 12}, {name: 'usuario', index: 'created_by_id', label: 'Usuario', width: 8}],
    caption: '<%= @titulo %>',
    sortname: 'created_at',
    sortorder: 'asc',
    url:'<%= @url_list.html_safe %>',
    datatype: "json",
    mtype: 'POST',

		height: 400,
		width: 200,
		rowNum:50,

		gridview: true,	// Acelera la velocidad de renderizado. Poner a false con trees y subgrids

		pager: '#toolgrid',
		rowList:[10,20,30,50,100,500,1000],
		altRows: true,	// filas tipo cebra
		sortable: true,	// Si las columnas se pueden reordenar (cambiar de sitio)
		viewrecords: true,	// Muestra información del total de registros en la toolbar

		ondblClickRow: editInForm,

		//shrinkToFit: false,
		//multiSort: true,
		//multiselect: true,
		//rownumbers: true,
		scroll: true,
	});

	
	$(grid).jqGrid('gridResize', {minWidth: 150, minHeight: 80});
	$(grid).jqGrid('navGrid', toolgrid, {edit: false, add: false, del: false}, {}, {}, {}, {multipleSearch: true, multipleGroup: true, showQuery: true});
	$(grid).jqGrid('filterToolbar', {stringResult: true, searchOperators: true}); vgrid[0].toggleToolbar();
	$(grid).jqGrid('bindKeys');

	$(grid).jqGrid('navButtonAdd', toolgrid, {caption:"",title:"Barra de búsqueda", buttonicon :'ui-icon-pin-s', onClickButton:function(){vgrid[0].toggleToolbar()}});
	$(grid).jqGrid('navButtonAdd', toolgrid, {caption:"",title:"Formulario", buttonicon :'ui-icon-carat-2-n-s', onClickButton: editInForm});

function editInForm() {
  id = $(grid).jqGrid('getGridParam','selrow');
  if (id != null) {
    $("#ficha").attr('src', '<%= @url_edit %>/h' + id + '/edit');
  } else
    alert("Seleccione un registro");
}
</script>
