<div class="w-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= nt('hola_nimbus') %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    Introduzca el pin que se ha enviado a la cuenta de correo de <%= @login %>
    <br><br>
    Si no recibe el correo puede ser debido a que el usuario o la contraseña sean
    erróneos o que esté mal configurada su cuenta de correo.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= form_tag("/a2p", method: "post") do %>
      <br>
      <div class="nim-group">
        <input class="nim-input" name="pin" id="pin" autocomplete="off" required style="max-width: 16em"/>
        <label class="nim-label" for="pin">Pin</label>
      </div>
      <br>
      <input name="commit" type="submit" style="display: none"/>
    <% end %>
  </div>
  <div class="mdl-card__menu">
    <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="$('form').submit()">
      <i class="material-icons">done</i>
    </button>
  </div>
</div>

<script>
  $("#pin").focus();
</script>
