<div class="w-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= nt('hola_nimbus') %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    Usuario <%= @login %> bloqueado.
    <% if Nimbus::Config[:email_password] %>
    <br><br>
    <a id="a-olvido" href="#">¿Has olvidado la contraseña?</a>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border" style="text-align: center;">
    Tiempo restante de bloqueo:
    <br><br>
    <label id="reloj" style="font-weight: bold;font-size: 40px"></label>
  </div>
</div>

<% if Nimbus::Config[:email_password] %>
<div id="dialog-email" style="display: none">
  Se le enviará una nueva contraseña de un sólo uso a su cuenta de correo.<br>
  Si no tuviera configurada una cuenta de correo o no recibe el mensaje<br>
  póngase en contacto con el administrador.
</div>
<% end %>

<script>
  iniBloqueo(<%= @seg_blq %>, "<%= @login %>");
</script>
