<style>
  .w-card.mdl-card {
    width: 350px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -175px; /* Tiene que ser la mitad de la anchura*/
  }
  .w-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: #673AB7 url('/logo.png') no-repeat top left;
  }
  .w-card > .mdl-card__menu {
    color: #fff;
  }
</style>

<div class="w-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= nt('hola_nimbus') %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    Identifíquese para iniciar sesión
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= form_tag("/login", method: "post") do %>
      <br>
      <div class="nim-group">
        <input class="nim-input" name="usuario" id="usuario" required style="max-width: 16em"/>
        <label class="nim-label" for="usuario"> <%= nt('usuario') %> </label>
      </div>
      <br>
      <div class="nim-group">
        <input class="nim-input" type="password" name="password" id="password" required style="max-width: 16em"/>
        <label class="nim-label-out" for="password"> <%= nt('password') %> </label>
      </div>
      <br>
      <input name="commit" type="submit" style="display: none"/>
    <% end %>
  </div>
  <div class="mdl-card__menu">
    <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="$('form').submit()">
      <i class="material-icons">done</i>
    </button>
  </div>
</div>

<script>
  $("#usuario").val('').focus();
  $("#password").val('');
  wCard = $(".w-card.mdl-card");
  wCard.css("margin-top", -wCard.height()/2);
</script>
