<div class="w-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= nt('hola_nimbus') %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lo sentimos, no quedan licencias disponibles para esta sesión.
    Vuelva a intentarlo más tarde o póngase en contacto con el administrador.
  </div>
  <div class="mdl-card__menu">
    <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="document.location='/'">
      <i class="material-icons">done</i>
    </button>
  </div>
</div>