<% content_for :otra do %>
  <hr>
  <p>OTRA</p>
  <p>Y OTRA</p>
<% end %>

<label>MiBool</label><input id="zzz" type="checkbox"/>

<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="c2">
  <input type="checkbox" id="c2" class="mdl-checkbox__input">
  <span class="mdl-checkbox__label">Checkbox</span>
</label>

<style>
  .negativo {
    color: red;
  }

  .tenue {
    background-color: #eeeeee;
    background-image: none;
  }
</style>

<script>
  function vali_edit_pxa_double(op) {
    var item = $(this).jqGrid("getLocalRow", op.rowid);
    return item.nombre2[0] != 't';
  }

  function style_cell_pxa_double(id, val, row) {
    // Función asociada a cellattr
    // id es el id de la fila a la que pertenece la celda procesada
    // val es el valor de la celda
    // row es un objeto con todos los valores de la fila (row.columna para acceder a una celda de esa fila)
    if (parseFloat(unformatNumero(val)) < 0)
    return("class='negativo' style='background-color: yellow'");
  }

  function style_row_pxa(row) {
    // Función asociada a rowattr
    if (row.nombre2[0] == 'i') return {class: 'tenue', style: 'font-style: italic'};
  }

  function creaMiBoton_pxa() {
    $("#pxa .nim-titulo").append("&nbsp;&nbsp;&nbsp;&nbsp;" + creaMdlButton("mi_boton", 30, 2, 22, "comment"));
    $("#mi_boton").click(function () {callFonServer("fun_mi_boton");});
  }

  function mi_funcion() {
    console.log('Forzar la salida de edición de cualquier celda del grid pxa');
    $("#g_pxa").jqGrid('editCell', 0, 0, false);
  }
</script>

