<style>
  #d-lienzo svg {
    background-color: #ffff00;
    width: 1000px;
  }
</style>

<div id="d-lienzo">
  <!--
  <svg id="lienzo">
    <defs>
      <g id="bloq">
        <rect x="0" y="5" width="60" height="100" fill="black" />
        <rect x="0" y="75" width="60" height="30" fill="blue" />
        <rect x="62" y="5" width="3" height="100" fill="orange" />
        <ellipse cx="30" cy="5" rx="30" ry="5" fill="red" />
      </g>
    </defs>

    <use id="b1" xlink:href="#bloq" x="0" y="0" />
    <use id="b2" xlink:href="#bloq" x="100" y="0"/>
  </svg>
  -->
</div>

<div id="menu-dep" class="nim-context-menu">
  <ul class="nim-context-menu-ul">
    <li class="nim-context-menu-li" onClick="funOpMenu(1)">Opción 1</li>
    <li class="nim-context-menu-li" onClick="funOpMenu(2)">Opción 2</li>
    <li class="nim-context-menu-li" onClick="funOpMenu(3)">Opción 3</li>
  </ul>
</div>

<script>
  var depActivo = {};

  function nuevoDeposito(d) {
    var h = '<g id="dep' + d.id + '" transform="translate(' + d.x + ',' + d.y + ')">';
    h += '<rect x="0" y="5" width="60" height="100" fill="black" />';
    h += '<rect x="0" y="' + (105-d.litros) + '" width="60" height="' + d.litros + '" fill="blue" />';
    h += '<rect x="62" y="5" width="3" height="100" fill="orange" />';
    h += '<ellipse cx="30" cy="5" rx="30" ry="5" fill="red" />';
    h += '</g>';

    return(h);
  }

  function pintaDepositos(dep) {
    $("#d-lienzo svg").remove();

    var h = '<svg id="lienzo">';
    for (var i in dep) h += nuevoDeposito(dep[i]);
    h += '</svg>';

    $("#d-lienzo").append(h);

    depActivo.ll = lienzo.getBoundingClientRect().left;
    depActivo.lt = lienzo.getBoundingClientRect().top;
  }

  function funOpMenu(op) {
    console.log(op);
    callFonServer('op_menu', {op: op, id: depMenu.attr('id')});
  }

  $("#d-lienzo").on('mousedown', 'g', function(e) {
    depActivo.dep = $(this)[0];
    depActivo.x = depActivo.dep.getBoundingClientRect().left - depActivo.ll - e.clientX;
    depActivo.y = depActivo.dep.getBoundingClientRect().top - depActivo.lt - e.clientY;
  }).on('mousemove', 'svg', function(e) {
    if (depActivo.dep) {
      depActivo.dep.style.cursor = 'move';
      depActivo.dep.setAttribute("transform", "translate(" + (depActivo.x + e.clientX) + "," + (depActivo.y + e.clientY) +")");
    }
  }).on('mouseup', 'svg', function(e) {
    if (depActivo.dep) {
      depActivo.dep.style.cursor = 'default';
      depActivo.dep = null;
    }
  }).on('contextmenu', 'g', function(e) {
    e.preventDefault();
    depMenu = $(this);
    $("#menu-dep").css("display", "block").position({my: "left top", at: "top+100", of: depMenu});
  });
</script>
