<center id="dnoticias"></center>
<button id="b-nuevo-msg" title="Nuevo mensaje" class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="nuevoMsg()">
  <i class="material-icons">edit</i>
</button>

<div id="d-nuevo-msg">
  <div id="dt-nuevo-msg">
    <textarea id="t-nuevo-msg" placeholder="Escriba su mensaje..."></textarea>
  </div>
  <div id="d-lista-usu"></div>

  <button id="b-enviar-msg" title="Enviar mensaje" class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="enviarMsg()">
    <i class="material-icons">send</i>
  </button>
</div>