<div id="solapas">
	<ul>
		<li><a href="#general">General</a></li>
		<li><a href="#otras">Otras</a></li>
	</ul>

	<div id="general" class="mant">
		<div id="g1">
			<%= gen_form({div: 'g1'}) {|c|
              if c.start_with?('password')
                'type="password"'
              elsif c == 'admin' and !@usu.admin
                'disabled'
              else
                ''
              end
            } %>
		</div>
	</div>

	<div id="otras" class="mant">
	</div>
</div>

<script>
	$("#solapas").tabs();

	<%= gen_js  %>
</script>
