<% content_for :empresas do %>

  <div id="d-empresas" class="contenedores">
    <table id="t-empresas">
      <thead>
      <tr>
        <td></td>
        <td>Empresa</td>
        <td>Permiso</td>
        <td>Perfil</td>
      </tr>
      </thead>
    </table>
  </div>

<% end %>

<% content_for :perfiles do %>

<div id="d-perfiles" class="contenedores">
</div>

<% end %>

<% content_for :usuarios do %>

<div id="d-usuarios" class="contenedores">
</div>

<% end %>