<div id="solapas">
	<ul>
		<li><a href="#general">General</a></li>
    <li><a href="#parametros">Parámetros</a></li>
    <li><a href="#ejer">Ejercicios</a></li>
	</ul>

  <div id="general" class="mant">
    <div id="g1">
      <%= gen_form({div: 'g1'}) %>
    </div>
  </div>

  <div id="parametros" class="mant">
    <div id="g2">
      <%= gen_form({div: 'g2'}) %>
    </div>
  </div>

	<div id="ejer" class="mant">
		<iframe id="ejercicios" class="ficha"></iframe>
	</div>
</div>

<style>
  #ejer {height: 450px}
</style>

<script>
	$("#solapas").tabs();

	<%= gen_js  %>
</script>
