<% content_for :otra do %>
  <hr>
  <p>OTRA</p>
  <p>Y OTRA</p>
<% end %>

<script>
  function vali_pxa(op) {
    var item = $(this).jqGrid("getLocalRow", op.rowid);
    return item.nombre2[0] != 't';
  }
</script>

