#d-titulo {
  background-color: var(--color-1);
  color: var(--color-1_f);
  height: 40px;
  line-height: 40px;
  font-size: large;
  position: relative;
}

#tree-campos {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
  background-color: #d3d3d3;
  padding: 3px 5px 10px 3px;
}

#d-grid {
  position: absolute;
  top: 40px;
}

#d-no-cerrar {
  display: inline-block;
  line-height: 10px;
  margin-right: 10px;
  padding-left: 8px;
  background-color: var(--color-1-2);
  width: 90px;
  border-radius: 7px;
  color: var(--color-2);
  position: fixed;
  top: 8px;
  right: 0;
}

li i {
  vertical-align: middle;
  margin-right: 7px;
}

.nim-reload {
  cursor: pointer;
  padding-left: 5px;
  color: var(--jqg-head-color_f);
}

.rich {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 8px 12px;
  user-select: text;
}

.rich::-webkit-scrollbar {
  width: 8px;
}

.rich::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.rich::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}