#d-titulo {
  background-color: #673AB7;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  font-size: large;
  position: relative;
}

#tree-campos {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
  background-color: #d3d3d3;
  padding: 3px 5px 10px 3px;
}

#d-grid {
  position: absolute;
  top: 40px;
}

#d-no-cerrar {
  display: inline-block;
  line-height: 10px;
  margin-right: 10px;
  padding-left: 8px;
  background-color: #D1C4E9;
  width: 90px;
  border-radius: 7px;
  color: #FF4081;
  position: fixed;
  top: 8px;
  right: 0;
}

li i {
  vertical-align: middle;
  margin-right: 7px;
}