body {margin-top: 0px;}

.mdl-grid {padding: 0;}
.mdl-layout__content::-webkit-scrollbar {display: none;}

.nim-bg-blink {
	background: linear-gradient(-90deg, var(--color-1-2), var(--color-1-3));
	background-size: 400% 400%;
	animation: gradient 1.5s ease infinite;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}