/*.ui-search-menu {z-index: 1500;}*/
.mdl-cell {margin: 1px;}
#gbox_grid {height: auto;}

.mdl-grid {padding: 0;}
.mdl-layout__content::-webkit-scrollbar {display: none;}

.nim-phone {
  display: none;
}

@media screen and (min-width: 600px) {
}
@media screen and (max-width: 599px) {
  .nim-hbut {
    display: none;
  }
  .nim-phone {
    display: block;
  }
}

#_pk-input {
  display: none;
  background-color: var(--color-1-2);
  color: var(--color-1-2_f);
  border-radius: 10px;
  width: 15em;
}

#_pk-input:focus {
  display: block;
}

#sel-nim-ejer {
  background-color: var(--color-1);
  color: var(--color-1_f);
  font-size: 20px;
  outline: none;
  border: none;
}