body {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}

#d-botones {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

#l-tit {
  margin-top: 10px;
  margin-left: 8px;
  float: left
}

#d-botones i {
  color: #ffffff;
  text-align: center;
}

.osp-but {
  margin-top: 8px;
  cursor: pointer;
}

.osp-but-l {
  float: left;
  margin-left: 5px;
}

.osp-but-r {
  float: right;
  margin-right: 7px;
}

#d-files {
  margin-top: 50px;
  margin-bottom: 14px;
}

#d-pie {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #e0e0e0;
  color: gray;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.c-file {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 3px;
  margin-top: 10px;
}

.l-file {
  width: 120px;
  display: block;
  word-wrap: break-word;
}

svg {
  display: block;
  margin: 0 auto;
}

.c-bajo {
  vertical-align: middle;
  margin-right: 3px;
}

#inp-nombre {
  width: 360px;
  border-width: 0px;
  outline:none;
}