#main {
  display: none;
}

#botones {
  display: inline-block;
  margin-left: 10px;
  margin-right: 30px;
  vertical-align: middle;
}

.mdl-radio {
  margin: 15px;
}

.mdl-radio__label {
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

#menu {
  border: 1px solid #d3d3d3;
  overflow-y: scroll;
}

.collapse, .status, .relleno, .opts {
  font-size: 20px;
}

.collapse, .status, .opts {
  vertical-align: middle;
}

.status, .opts {
  border-radius: 50%;
}

.l-menu {
  cursor: pointer;
}

.titulo-bloques {
  background-color: var(--color-1);
  color: var(--color-1_f);
  margin-top: 3px;
  padding-left: 5px;
  height: 28px;
  line-height: 28px;
}

#float_opts {
  display: none;
  padding-left: 10px;
}
