#t-empresas {
  margin: 0;
  padding: 0;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  width: 100%;
}

#t-empresas thead {
  background-color: var(--color-1);
  color: var(--color-1_f);
}

#t-empresas td {
  border: 1px solid #d3d3d3;
  padding-left: 8px;
  padding-right: 8px;
}

#t-empresas td select {
  border: 0;
}

.contenedores {
  border: 1px solid #d3d3d3;
  overflow-y: scroll;
  display: inline-block;
}

#d-perfiles, #d-usuarios {
  padding: 10px;
}

.status {
  font-size: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.dsbl {
  background-color: #d3d3d3;
}

#d_vis {
  text-align: center;
}
#d_vis i {
  vertical-align: bottom;
  margin-top: 7px;
  cursor: pointer;
}
