<div id="solapas">
	<ul>
		<li><a href="#general">General</a></li>
	</ul>

	<div id="general" class="mant">
		<div id="g1">
			<%= gen_form({div: 'g1'}) %>
		</div>
	</div>
</div>

<style>
</style>

<script>
	$("#solapas").tabs();

	<%= gen_js  %>
</script>
