<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Estimado <%= @user.nombre %></h3>
    <p>
      Ha solicitado una nueva contraseña para el acceso a Nimbus.
      Cuando finalice el tiempo de bloqueo de su cuenta utilice
      las siguientes credenciales para registrarse:
    </p>
    <p><b>Usuario</b>: <%= @user.codigo %><p>
    <p><b>Contraseña</b>: <%= @pass %><p>
    <p>Una vez se autentifique se le solicitrá que introduzca una nueva contraseña.</p>
    <p>Gracias por su colaboración.</p>
  </body>
</html>