<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Estimado <%= @user.nombre %></h3>
    <p>
      Su pin de acceso es: <%= @pin %>
    </p>
  </body>
</html>