<!DOCTYPE html>
<html>
<head>
  <meta name="google" value="notranslate">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
